/* *{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.cdate{
    color: blue;
}

.container{
    height: 34rem;
    width: 30rem;
    margin: auto;
    margin-top: 3rem;
}

.nva-yd{
    width: 100%;
    height: 3rem;
    text-align: center;
    font-size: 2.2rem;
    font-family: monospace;
    display: flex;
    justify-content: space-around;
}

.week-container{
     display: flex;
     justify-content: space-between;
     border-bottom: 1px solid black;
     height: 3rem;
     width: 100%;
}
.week-days{

    height: 100%;
    width:5rem;
    padding-top: 10px;
    text-align: center
}
.days-container{

       height: 25rem;
       width: 100%;
       display: flex;
       flex-direction: column;

}

.week{
    width: 100%;
    height: 5rem;
    display: flex;
}

.week-date{
    width:5rem;
    height: 100%;
    border:1px solid lightgray;
    text-align: center;
    font-family: monospace;
    font-size: 1.2rem;
} */
