.faculty-container{
    height: 60vh;
    width: 25vw;
    position: fixed;
    background: white;
    top: 8rem;
    z-index: 50;
    right: 40vw;
    box-shadow: 0px 0px 20px gray;
    border-radius: 12px;
}

.f-pop-up{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    margin: auto;
    margin-top: 2.5%;
}

.f-close-cont{
    width: 100%;
    height: 4%;
    position: relative;
}

.f-close-cont>i{
    position: absolute;
    right: 0px;
    font-size: 1.5rem;
}

.f-title{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid lightblue;
    align-items: center;
    font-size: 2.7rem;
}


.f-faculty-info{
    width: 100%;
    height: 65%;
    margin-top: 1rem;
}



.add-day{
    width: 100%;
    height: 37.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.f-name{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-name>span{
    font-size: 1.4rem;
}

.f-name>input{
    width: 50%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 16px;
}

.f-email{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.f-email>span{
    font-size: 1.4rem;
}
.f-email>input{
    width: 50%;
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    outline: none;

}


.add-time{
    width: 100%;
    height: 37.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.f-phn{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-phn>span{
    font-size: 1.4rem;
}

.f-phn>input{
    width: 50%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;

    font-size: 16px;
}

.f-pass{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.f-pass>span{
    font-size: 1.4rem;
}
.f-pass>input{
    width: 50%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 20px;
}




.submit{
    border: none;
    background: none;
    font-size: 1.6rem;
    letter-spacing: 1.6px;
}

.add-faculty-sbtn{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

