<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/faculty.css">
</head>
<body>
    <div class="faculty-container" >
        <div class="f-pop-up">
            <div class="f-close-cont"><i class="fas fa-times"></i></div>
            <div class="f-title">
                ADD FACULTY
            </div>
            <div class="f-faculty-info">
                <div class="add-day">
                    <div class="f-name">
                        <span>Faculty Name :</span>
                        <input type="text">
                    </div>
                    <div class="f-email">
                        <span>Faculty Email :</span>
                        <input type="text">
                    </div>
                </div>
                <div class="add-time">
                    <div class="f-phn">
                        <span>Phone No:</span>
                        <input type="number">
                    </div>
                    <div class="f-pass">
                        <span>Password :</span>
                        <input type="password">
                    </div>
                </div>

                <div class="add-time">
                    <div class="f-phn">
                        <span>Confirm Password:</span>
                        <input type="password">
                    </div>
                    <div class="f-pass">
                        <span>Role :</span>
                        <input type="text">
                    </div>                    
                </div>
                <div class="add-faculty-sbtn">
                    <button class="submit">SUBMIT</button>
                </div>
            </div>
</body>
</html>