<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat&family=Roboto:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>



    <div class="login-component">
        <div class="login-nav"></div>
        <div class="auth-component">

            <div class="left-login-component">
                <div class="xyz">

                    <div class="head">
                        <h1>LOGIN</h1>
                        <p>Please login to continue</p>
                    </div>
                    <div class="two-btn">
                        <button class="lg">Sign In</button>
                        <button class="su">Sign Up</button>
                    </div>
                    <div class="login-det">
                        <div class="login-container">

                           
                            <input type="email" id="lg-email" placeholder="Enter your email">
                            <input type="password" id="lg-password" placeholder="Password">
                            <button id="lg-btn">Login</button>

                        </div>
                    </div>
                </div>

            </div>


            <div class="right-login-component">
                <div class="sm-text">Always keeping you on time!</div>
                <div class="login-cal-img">
                    <img src="../public/20944068-removebg-preview.png" alt="">
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
        integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="../js/msgDiv.js"></script>
    <script src="../faculty/facultyLogin.js"></script>

</body>

</html>